html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px;
  background-color: #D5D96C;
  background-image: url('images/header_BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  flex: 1 0 auto; /* flex: 1 to make main content fill all the space before footer, and 0 to prevent browsers from shrinking the content smaller than it's default minimum size */
  padding: 20px;
  background-color: #F2EFBD;
}

footer {
  flex-shrink: 0; /* 0 to prevent browsers from shrinking the content smaller than it's default minimum size */
  background-color: #D5D96C;
  padding: 10px;
}

.body-heading {
  color: #F2A30F;
  font-size: 28px;
  text-decoration: underline;
}

.text {
  color: #8C030E;
  font-size: 16px;
  line-height: 1.75;
}

.icon {
  color: black; 
  font-size: 24px;
  padding: 10px;
}

.icon:hover {
  color: #F2A30F;
}

.img-profile {
  border-radius: 0%;
  margin: 10px;
  max-height: 300px;
  box-shadow:
    15px 10px 0px #f2a20D,
    15px -10px 0px #F2A30F,
    30px -20px 0px #8C030E,
    30px 0px 0px #8C030E;
}

.navbar {
  color: #8C030E;
  background-color: #D5D96C;
}

.nav-link {
  color: #8c030e;
}

.nav-link:hover {
  color: #F2A30F;
}

.navbar-toggler {
  background-color: #F2EFBD;
  border-color: #F2A30F;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(140, 3, 14, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer-text {
  font-size: 14px;
  margin: 5px;
}

.modal-content {
  background-color: #F2EFBD;
}

.img-thumbnail {
  background-color: #8C030E;
  opacity: 0.5;
}

.img-thumbnail:hover {
  opacity: 1;
  cursor: pointer;
}

#title {
  color: #F2A30F;
  font-size: 60px;
  text-shadow: 3px 3px 5px black;
  
}
#sub-title {
  color: #F2EFBD;
  font-size: 30px;
  text-shadow: 3px 3px 4px black;
  text-transform: uppercase;
}



/*
#8C030E
#D5D96C
#F2EFBD
#F2A30F
#F20C0C
*/