html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto; /* flex: 1 to make main content fill all the space before footer, and 0 to prevent browsers from shrinking the content smaller than it's default minimum size */
  padding: 20px;
}

header {
  background-color: green;
  padding: 10px;
  background-image: url('images/header-BG-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  flex-shrink: 0; /* 0 to prevent browsers from shrinking the content smaller than it's default minimum size */
  background-color: green;
  padding: 10px;
}

.img-profile {
  border-radius: 0%;
  margin: 10px;
  max-width: 300px;
  box-shadow: 
    15px 10px 0px rgb(7, 192, 69),
    15px -10px 0px rgb(7, 192, 69), 
    30px -20px 0px rgb(216, 20, 6),
    30px 10px 0px rgb(216, 20, 6);
}

.navbar {
  background-color: green;
}

#title {
  color: white;
  text-shadow: 2px 2px black;
  
}

#header-text {
  color: white;
  text-shadow: 2px 2px black;
  background-color: rgba(0, 255, 255, 0.322);
}